<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Dashboard - Home</title>

    <!-- Fontfaces CSS-->
    <link href="/home/stylesheets/font-face.css" rel="stylesheet" media="all">
    <link href="/home/javascript/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="/home/javascript/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="/home/javascript/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="/home/javascript/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="/home/javascript/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="/home/javascript/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <!--<link href="/home/javascript/vendor/wow/animate.css" rel="stylesheet" media="all">-->
    <link href="/home/javascript/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <!--<link href="/home/javascript/vendor/slick/slick.css" rel="stylesheet" media="all">-->
    <link href="/home/javascript/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="/home/javascript/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="/home/stylesheets/theme.css" rel="stylesheet" media="all">
    <link href="/home/stylesheets/main.css" rel="stylesheet" media="all">

    <!-- React JS -->
    <script src="https://unpkg.com/react@15.3.0/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@15.3.0/dist/react-dom.js"></script>
    <script src="/home/javascript/react-pstate.min.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>

    <!-- API Google autocomplete place -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvPG_yZ4fNVH-ZrflvKDHWh5_bWtQOYzM&libraries=places"></script>
</head>
<body class="animsition">
<div class="page-wrapper" id="reactContainer"></div>

<!-- Jquery JS-->
<script src="/home/javascript/vendor/jquery-3.2.1.min.js"></script>
<script src="/home/javascript/vendor/jquery-ui.min.js"></script>

<!-- Bootstrap JS-->
<script src="/home/javascript/vendor/bootstrap-4.1/popper.min.js"></script>
<script src="/home/javascript/vendor/bootstrap-4.1/bootstrap.min.js"></script>
<!-- Vendor JS -->
<script src="/home/javascript/vendor/animsition/animsition.min.js"></script>
<script src="/home/javascript/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<script src="/home/javascript/vendor/circle-progress/circle-progress.min.js"></script>
<script src="/home/javascript/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="/home/javascript/vendor/select2/select2.min.js"></script>

<!-- Main JS-->
<script src="/home/javascript/dashboardMain.js"></script>

<!-- Axios -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<!-- React component -->
<script type="text/babel" src="/home/javascript/reactComponents/index.js"></script>
<script type="text/babel" src="/home/javascript/reactComponents/twitter.js"></script>
<script type="text/babel" src="/home/javascript/reactComponents/youtube.js"></script>
<script type="text/babel" src="/home/javascript/reactComponents/weather.js"></script>
<script type="text/babel" src="/home/javascript/reactComponents/hogwarts.js"></script>
<script type="text/babel" src="/home/javascript/appReact.js"></script>

</body>
</html>